# gitignore file
/docker-monolith/infra/packer/variables.json
/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
jdauphant.nginx
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
src/.env
docker/.env
